html ,body{
     max-width: 100%;
    /* overflow-x: hidden;  */
    margin: 0;
    font-family: 'Rubik', sans-serif;
    
}

/* navbar start */
.fstnav ul li a{
    margin: 10px;
    height: 25px;
}


.navbar img{
    width: 100px;
    height: auto;

}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/* .navbar .nav-item:hover .nav-link{   } */
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
/* end */


/* 
.fstnav ul li a   {
    color: #17A2B8;
}  */

/* slider start */
.tx{
    font-weight: bold;
    color: #17A2B8;
}

.orange-bg h1{
    font-family: 'Galada', cursive;
}


.bg-info {
    background-color: #fbfdfc!important;
}


.orange-bg{
    background-color: #ebeaea;
    border-radius: 10px;
}
.orange-bg p{
    color: #34315D;
}


.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.orange-bg h1{
    font-size: 40px;
    font-weight: 400;
}
.bg_text h1{
    color: #FF284F;
}

.bg_text p{
    font-weight: bold;
    font-style: italic;
}

/* slider end */
/* //////////////// */


/* info start */

#info{

width: auto;
background-color: #ffffff;
    
background-position: center center;
background-repeat: no-repeat;
position: relative;
 background-attachment: fixed; 
 height: 250px;
 width: auto;


}
.buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}


}

#info img{
   height: 320px;
   width: 220px;
 
} 


.txt{
    color: #FF284F;
    font-weight: bold;
    font-family: 'Galada', cursive;
}
.txh{
    color: #34315D;
    font-weight: bold;
    font-family: 'Galada', cursive;
}

.learning p{
font-family: 'Galada', cursive;
font-family: 'Hind Siliguri', sans-serif;
font-size: 25px;
}

#info{
    margin-top: 20px;
    padding: 10px;
}
.txt1{
    color: #FF284F;
}

/* info end */


/* Counter Start */

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */



.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}




.counters {
	background-image: url(../background/Ims-background-1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 350px;
    width: auto;
	padding: 40px 20px;
	/* border-top: 3px lightskyblue solid; */
    margin-top: 320px;
}
.counter{

    color: #34315D;
    font-weight: bold;
}
.counters .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.counters i {
    margin-top: 30px;
color: #FF136F;
	margin-bottom: 5px;
   font-size: 40px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		border-bottom: 1px lightskyblue solid;
		padding-bottom: 20px;
	}
}

.counters h3{
   
    font-family: 'Rubik', sans-serif;
    color: #FF136F;
    font-weight: bold;
    font-style: italic;
}
/* Counter End */