body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}


.fstnav ul li a{
    margin: 10px;
    height: 25px;
}

.fstnav ul li a i {
    color: #17A2B8;
}

.tx{
    font-weight: bold;
    color: #17A2B8;
}