html ,body{
     max-width: 100%;
    /* overflow-x: hidden;  */
    margin: 0;
    font-family: 'Rubik', sans-serif;
    
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


img { max-width: 100%; height: auto; }

@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

/* navbar start */
.fstnav ul li a{
    margin: 10px;
    height: 25px;
}


.navbar img{
    width: 100px;
    height: auto;

}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/* .navbar .nav-item:hover .nav-link{   } */
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
/* end */




/* slider start */
.tx{
    font-weight: bold;
    color: #17A2B8;
}

.orange-bg h1{
    font-family: 'Galada', cursive;
}


.bg-info {
    background-color: #fbfdfc!important;
}


.orange-bg{
    background-color: #ebeaea;
    border-radius: 10px;
}
.orange-bg p{
    color: #34315D;
}


.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    cursor: pointer;
}

.orange-bg h1{
    font-size: 40px;
    font-weight: 400;
}
.bg_text h1{
    color: #FF284F;
}

.bg_text p{
    font-weight: bold;
    font-style: italic;
}

/* slider end */
/* //////////////// */


/* info start */

#info{

width: auto;
background-color: #ffffff;
    
background-position: center center;
background-repeat: no-repeat;
position: relative;
 background-attachment: fixed; 
 height: 250px;
 width: auto;


}






.buy-now{

    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;


}




.txt{
    color: #FF284F;
    font-weight: bold;
    font-family: 'Galada', cursive;
}


.txh{
    color: #34315D;
    font-weight: bold;
    font-family: 'Galada', cursive;
}


.learning p{
    font-family: 'Galada', cursive;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    }




    #info {
        margin-top: 20px;
        padding: 10px;
        /* height: 526px; */
        width: 100%;
        height: auto;
    }
    
    
    .txt1{
        color: #FF284F;
    }

    /* Info End */








    .counters {
        background-image: url(../background/Ims-background-1.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;
        height: auto;
        width: auto;
        padding: 40px 20px;
        /* border-top: 3px lightskyblue solid; */
        margin-top: 120px;
    }

    


    .counters i{
        padding-top: 70px;
        color: #34315D;
        font-size: 40px;
        margin: 10px;
        margin-left: 18px;
    
    }
    .counter{
        color: #FF284F;
        font-weight: bold;
        font-size: 30px;
    }
    
    .counters h3{
        color: #34315D;
        font-weight: bold;
        font-style: italic;
      
    }
    
    .cn{
        color: #FF136F;
    }
    .cnn{
        text-align: center;
        font-weight: bold;
        font-style: italic;
      
      
    }
    
    
    /* Counter End */
    












/* Learn start  */
#learn_panel{
    width: 100%;
    height: auto;
    background-image: url(../background/latest-work-bg.png);

     background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;
        height: auto;
        width: auto;
        padding: 40px 20px;
      
        margin-top: 120px;
}

.ln{
    padding: 20px;
}

#learn_panel h2{
    text-align: center;
   
}
.lntxt{
    font-weight: bold;
    color: #34315D;
}
.ln p{
    text-transform: capitalize;
   font-weight: bold;
  
}
/* Learn End */






/* course start */
.crs_sec,h3{
   
text-align: center;
font-weight: bold;


}

#course_cat{
  background-image: url(../background/header-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: auto;
    width: auto;
    padding: 40px 20px;
  
    margin-top: 120px;
}

#course_cat h3{
    text-align: center;
    font-weight: bold;
   color: #34315D;
}


.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}


.card-deck{
    margin-top: 70px;
}


.card-footer{
    background-color: white;
    border-top: none;
}
/* course end*/

/* Review Start */
#review{
    background-image: url(../background/header-bg.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      background-attachment: fixed;
      height: auto;
      width: auto;
      padding: 40px 20px;
    
      margin-top: 120px;
  }
.rv_text h3{
    margin-top: 70px;
    padding: 10px;
    color: #34315D;
}
/* Review End */

/* Update news start */

#update_news{
    background-color: #fff;
    height: auto;
    width: auto;
    background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      background-attachment: fixed;
      margin-top: 30px;
      padding: 30px;
}

.card-columns{
   margin-top: 20px;
}



.card-columns .card {
    display: inline-block;
    width: 100%;
    margin-top: 6px;
}

.updt{
    margin-top: 30px;
}
/* Update news end */

/* Footer Start */

#footer{
    background-image: url(../background/bg7.png);

    background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      background-attachment: fixed;
      margin-top: 30px;
      padding: 30px;
      height: 450px;
}

/* Footer End */